.footer {
	width: 100%;
	height: 50vh;
	background-color: #23292d;
	display: table;
	&__content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	a {
		color: #fff;
		margin: 0;
		transition: color .3s ease-in-out;
		&:hover {
			color: #4b7eff;
		}
	}
	h2,p {
		color: #fff;
		margin: 0;
	}
}
